


 #firstImage img[src= "/Users/kensyjordan/Desktop/coffee_shop/3.png"] {
    height: 300px;
    padding: 4px;
    background-color: black;
 
  }

  #firstImage img[src= "/Users/kensyjordan/Desktop/coffee_shop/4.png"] {
    height: 300px;
    padding: 4px;
    background-color: black;
   
  }


  #firstImage img[src= "/Users/kensyjordan/Desktop/coffee_shop/5.png"] {
    height: 300px;
    padding: 4px;
    background-color: black; 

  }

  #firstImage img[src= "/Users/kensyjordan/Desktop/coffee_shop/6.png"] {
    height: 300px;
    padding: 4px;
    background-color: black;
  }

  .column {
    float: left;
    padding: 4px;
    margin-right:20px; 
    width: 250px;
  }

  #secondImage img[src= "/Users/kensyjordan/Desktop/hot_latte/7.png"] {
    height: 300px;
    padding: 4px;
    background-color: black;
  }

  #secondImage img[src= "/Users/kensyjordan/Desktop/hot_latte/8.png"] {
    height: 300px;
    padding: 4px;
    background-color: black;
  }

  #secondImage img[src= "/Users/kensyjordan/Desktop/hot_latte/9.png"] {
    height: 300px;
    padding: 4px;
    background-color: black;
  }
  .columna {
    float: left;
    padding: 5px;
    margin-right:30px; 
    width: 250px;
    
  }

  .button {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }

  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    transition: background-color 0.3s ease; /* Smooth transition for background color change */
}
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin-top: 50px;
    text-align: center;

}





  button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Smooth transition for button background color change */
}
button:hover {
    background-color: #0056b3; /* Darker shade on hover */}